<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  I am fascinated with Computer Science, mathematics, Universe and stuff. I like to understand things and the the way they work under-the-hood. Occasionally, I like to explain the things that I undersand using the first principle's approach. More formally I am a <strong>Researcher, Trainer, and a design consultant</strong> on the design of <strong>Artificial Intelligence(deep learning)</strong> based systems.
  Microarchitecture based optimizations are my specialization, more specifically P5(Intel) to Skylake(Intel). On the vector side, SIMD, GPUs(Nvidia). My micro-architecture knowledge enable me to see the complete stack. Last 5 years I have been working on Optimizing Tensorflow and Models on Tensorflow on GPUs/CPUs. A <a href="https://drive.google.com/open?id=1aa7W_64p9brtjAL62ik_Irfc4d6PIqKn">general example</a>  of micro-optimization on Haswell microarchitecture.
  My current and major research interests include <strong>Attention based models, <a href="https://github.com/tensorflow/nmt">Google's NeuralMachineTranslator</a> , <a href="https://github.com/google-research/bert">Google's BERT</a>, <a href="https://github.com/deepmind/dnc">DeepMind's DNC</a></strong>.
</div>
