<footer>
  <strong>MIT License</strong> &copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.


  <div class="newsletter-container" >
                <h4 class="newsletter-title">Subscribe</h4>
                <!-- <p class="newsletter-text"></p> -->
                <form class="newsletter-form" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=Slowbreathing', 'popupwindow', 'scrollbars=yes,width=550,height=220');return true">

                    <p class="newsletter-text">Get new posts to your inbox</p>

                    <input type="hidden" value="Slowbreathing" name="uri" />

                    <input type="hidden" name="loc" value="en_US" />

                    <input class="newsletter-email" type="text" name="email" placeholder="name@example.com" />

                    <input class="newsletter-submit" type="submit" value="Subscribe" />

                </form>
  </div>


</footer>
