<footer>
  <strong>MIT License</strong> &copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.
  <div class="newsletter-container" >
                <h4 class="newsletter-title">Subscribe</h4>
                <!-- <p class="newsletter-text"></p> -->
                <script type="text/javascript">var submitted=false;</script>
                <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"onload="if(submitted) {window.location='thankyou.html';}"></iframe>
                <form class="newsletter-form" name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLSftY1olpvfsyxItLcV6kNsRSUQf3NQfPSL-RyT191nhPrfguA/formResponse"
                                                   target="hidden_iframe" onsubmit="submitted=true">

                    <p class="newsletter-text">Get new posts to your inbox</p>

                    <input class="newsletter-email" type="text" name="entry.1045781291" placeholder="name@example.com" />

                    <input class="newsletter-submit" type="submit" value="Subscribe" />

                </form>

  </div>




</footer>
